/dist
.env
/uploads
/node_modules
yarn-error.log

!src/**

./tsconfig.tsbuildinfo
package-lock.json
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

requests.http