/node_modules

.env

tsconfig.json
tsup.config.ts/dist

/uploads
yarn-error.log

!src/**

./tsconfig.tsbuildinfo
package-lock.json
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

request.http
.mermaid